header{
    background-color: rgb(225, 90, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98.6%;
    top: 0;
    z-index: 999;
}

.icon-row{
    display: flex;
    align-items: center;
    padding: 2px 80px;
}

.icon-row h2{
    color: white;
    font-weight: 900;
}
nav{
    margin-right: 110px;
}

.search-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6)),url("./assests/backgroundi.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 60px;

}
.search-section h2,p{
    color: white;
}
.search-section .search-here{
    text-align: center;
    padding-top: 8%;
    
}
.search-here input{
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    
}
.search-section{
    position: relative;
}
.circle-button {
  background-color: #f26c1d; 
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 0;
  left: 58.5%;
  margin-top: 93px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.circle-button:hover {
  background-color: white;
  color: #f26c1d; 
}

.second-header{
    background-color: rgb(225, 90, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin-left: 65px;
}

.head{
    position: relative;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
    color: #333;
    margin-left: 65px;
}

.head::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
     width: 62px;         
    height: 3px;          
    background-color: #e9967a; 
    border-radius: 2px; 
}