header{
    background-color: rgb(225, 90, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98.6%;
    top: 0;
    z-index: 999;
}

.icon-row{
    display: flex;
    align-items: center;
    padding: 2px 80px;
}

.icon-row h2{
    color: white;
    font-weight: 900;
}
nav{
    margin-right: 110px;
}

.search-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6)),url("./assests/backgroundi.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 60px;

}
.search-section h2,p{
    color: white;
}
.search-section .search-here{
    text-align: center;
    padding-top: 8%;
    
}
.search-here input{
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    
}
.search-section{
    position: relative;
}
.circle-button {
  background-color: #f26c1d; 
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 0;
  left: 58.5%;
  margin-top: 93px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.circle-button:hover {
  background-color: white;
  color: #f26c1d; 
}

.heading {
    position: relative;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: #333;
    margin-left: 60px;
}

.heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;        
    width: 50px;         
    height: 3px;          
    background-color: #e9967a; 
    border-radius: 2px;   
}

.menu-items{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px 60px;
}
.item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s linear;
}

.item img:hover{
    transform: scale(0.7);
}

.item{
    position: relative;
    width: 200px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.name{
    color: white;
    background-color: rgb(225, 90, 6);
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
}