header{
    background-color: rgb(225, 90, 6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 98.6%;
    top: 0;
    z-index: 999;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 15px;
  }
}

.icon-row{
    display: flex;
    align-items: center;
    padding: 2px 80px;
}

@media (max-width: 768px){
    .icon-row {
    padding: 10px 20px;
  }
}
@media(max-width: 480px){
    .icon-row {
    padding: 5px 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.icon-row h2{
    color: white;
    font-weight: 900;
}

@media (max-width: 480px){
    .icon-row h2 {
    font-size: 20px;
  }
}
nav{
    margin-right: 110px;
}
@media (max-width: 768px){
    nav {
    margin-right: 20px;
  }
}
@media (max-width: 480px){
      nav {
    margin: 5px 0 0 10px;
  }
}
.search-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6)),url("./assests/backgroundi.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 320px;
    overflow: hidden;
    margin-bottom: 60px;

}
@media (max-width: 480px){
     .search-section {
    height: auto;
    padding: 20px 10px;
  }
}
.search-section h2,p{
    color: white;
}
.search-section .search-here{
    text-align: center;
    padding-top: 8%;
    
}
.search-here input{
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: none;
    
}
@media (max-width: 480px){
   .search-here input {
    width: 100%;
    margin: 10px 0;
  } 
}

@media (max-width: 768px){
    .search-here input {
    width: 80%;
    margin: 10px auto;
    display: block;
  }
}
.search-section{
    position: relative;
}
.circle-button {
  background-color: #f26c1d; 
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  top: 0;
  left: 58.5%;
  margin-top: 93px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  font-size: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

@media (max-width: 768px){
    .circle-button {
    left: 70%;
    margin-top: 20px;
  }
}

@media (max-width: 480px){
     .circle-button {
    left: 75%;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    font-size: 13px;
  }
}

.circle-button:hover {
  background-color: white;
  color: #f26c1d; 
}


.content{
    border: 2px solid rgb(226, 148, 100);
    margin: 30px 55px;
    padding: 5px 10px;
}

@media (max-width: 768px){
    .content {
    margin: 20px 30px;
    padding: 10px;
  }
}

@media (max-width: 480px){
    .content {
    margin: 10px;
    padding: 10px;
  }
  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
    padding: 0;
  }
}
.content h2{
    font-family: Georgia, serif;
    color: rgb(225, 90, 6);
    padding-top: 5px;
    padding-left: 10px;

}

@media (max-width: 768px){
     .content h2 {
    font-size: 22px;
  }
}

.content p{
    font-family: Georgia, serif;
    font-weight: normal;
    color: black;
    padding-left: 10px;
    line-height: 1.6;
}

@media (max-width: 768px){
    .content p {
    font-size: 15px;
  }
}

.heading{
    position: relative;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    color: #333;
    margin-left: 60px;
}

@media (max-width: 768px){
    .heading {
    margin-left: 20px;
    font-size: 15px;
  }
}
@media (max-width: 480px){
   .heading {
    margin-left: 10px;
    font-size: 13px;
  }
   .search-section h2 {
    font-size: 22px;
  }

  .search-section p {
    font-size: 14px;
  }
}

.heading::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;        
    width: 50px;         
    height: 3px;          
    background-color: #e9967a; 
    border-radius: 2px;   
}

.meals-items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin: 10px 60px;

}

@media (max-width: 768px){
    .meals-items {
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
    gap: 15px;
    justify-content: center;
  }
}
@media (max-width: 480px){
      .meals-items {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    gap: 10px;
  }
}


.item{
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    background-color: white;
    
}
@media (max-width: 768px){
    .item{
        width: 100%;
    }
}
@media(max-width: 480px){
    .item {
    width: 100%;
  }

  .item p {
    font-size: 13px;
}
}
.item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.item p{
    color: black;
    font-family: Georgia, serif;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 15px;
}